:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: black;
  background-image: url(./images/space.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15rem;
}

blockquote {
  background-color: white;
  border: .4rem solid none;
  border-radius: 6px;
  padding: .5rem;
  margin-top: -2rem;
  opacity: .5;
}

.sub-title {
  text-align: center;
}

.page-header {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.top-image>img {
  border: .4rem solid none;
  border-radius: 10%;
  margin: 0;
  padding: 0;
  height: 12rem;
}

header {
  display: flex;
  justify-content: center;
}


.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
  margin-top: 5rem;
  background-color: rgba(0, 0, 0, 0.507);
}

section>img {
  height: 15rem;
  width: 20rem;
}

nav {
  margin-top: 2.5rem;
}

.words-on-page {
  color: black;
  background-color: aliceblue;
}

h2 {
  margin: 0;
}

h2>p {
  margin: 0;
}

.above-words {
  color: black;
  background-color: aliceblue;
}

article>img {
  /* height: 6rem; */
}

.bottom-half {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

footer {
  color: aliceblue;
  text-align: center;
}