:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: black;
  background-image: url(./images/space.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10rem 0 0 0;
}

.my-name {
  background-color: white;
  border: .4rem solid none;
  border-radius: 6px;
  padding-right: 3rem;
  padding-left: 1rem;
  margin-top: -2rem;
  opacity: .8;
  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: left;
}

.sub-title {
  text-align: left;
  font-size: 1.4rem;
}

.page-header {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 2rem;
}

.top-image>img {
  border: .4rem solid none;
  border-radius: 10%;
  margin: 0;
  padding: 0;
  height: 20rem;
  margin-bottom: 2rem;
}

header {
  display: flex;
  justify-content: center;
}


.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem;
  margin: 5rem 0 0 0;
  background-color: rgba(0, 0, 0, 0.507);
}

section>img {
  height: 15rem;
  width: 20rem;
}

nav {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
}

.middle-section {
  background-color: rgb(10, 10, 29);
  margin-top: 0rem;
  padding-top: 1rem;
}

.words-on-page {
  color: black;
  background-color: aliceblue;
}

.above-words {
  color: black;
  background-color: aliceblue;
}

.bottom-half-one {
  background-image: url(./images/react-new.png);
  height: 10rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  border: .4rem solid none;
  border-radius: 6px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-family: 'Roboto', sans-serif;
}

article {
  margin: 1rem;
}

div>blockquote {
  margin: 0rem .2rem -2rem 0rem;
  opacity: 1;
  width: 100%;
  padding: 0;
  background-color: white;
  border: .4rem solid none;
  border-radius: 6px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  opacity: 1;
}

.read-more {
  display: inline-block;
  text-align: right;
  margin-left: 85rem;
  font-family: 'Roboto', sans-serif;
  color: white;
  background-color: rgb(100, 100, 230);
  padding: 1rem;
  position: relative;
  border-radius: 6px;
}

#small-words {
  font-size: .8rem;
  margin-left: 1rem;
}

.bottom-half-two {
  background-image: url(./images/code-new.png);
  height: 10rem;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  border: .4rem solid none;
  border-radius: 6px;
  font-family: 'Roboto', sans-serif;
}

footer {
  color: aliceblue;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-family: 'Roboto', sans-serif;
}